[submodule "wlroots"]
        path = wlroots
        url = https://gitlab.freedesktop.org/wlroots/wlroots.git
        branch = main
        update = rebase
[submodule "libbacktrace"]
        path = libbacktrace
        url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "wayland"]
        path = wayland
        url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "libxkbcommon"]
        path = libxkbcommon
        url = https://github.com/xkbcommon/libxkbcommon.git
